/.project

*.xml

Referenced Packages/Workbench/applicationManifests/Workbench

Referenced Packages/Workbench_oauth/modules/Workbench_oauth/modules/sf_com_apps__Workbench_oauth

*.ConnectivityDevConfig

Referenced Packages/Salesforce_Touch/applicationManifests/Salesforce_Touch

Referenced Packages/Salesforce_Mobile_Dashboards/applicationManifests/Salesforce_Mobile_Dashboards

Referenced Packages/Salesforce_for_Outlook/applicationManifests/Salesforce_for_Outlook

Referenced Packages/S8e_T3h_oauth/modules/S8e_T3h_oauth/modules/sf_com_apps__S8e_T3h_oauth

Referenced Packages/S8e_M4e_Dashboards_oauth/modules/S8e_M4e_Dashboards_oauth/modules/sf_com_apps__S8e_M4e_Dashboards_oauth

Referenced Packages/S8e_for_Outlook_oauth/modules/S8e_for_Outlook_oauth/modules/sf_com_apps__S8e_for_Outlook_oauth

Referenced Packages/Forcecom_Migration_Tool/applicationManifests/Forcecom_Migration_Tool

Referenced Packages/Forcecom_Migration_Tool_oauth/modules/Forcecom_Migration_Tool_oauth/modules/sf_com_apps__Forcecom_Migration_Tool_oauth

Referenced Packages/Forcecom_IDE/applicationManifests/Forcecom_IDE

Referenced Packages/Forcecom_IDE_oauth/modules/Forcecom_IDE_oauth/modules/sf_com_apps__Forcecom_IDE_oauth

Referenced Packages/Dataloader_P5r_oauth/modules/Dataloader_P5r_oauth/modules/sf_com_apps__Dataloader_P5r_oauth

Referenced Packages/Dataloader_Bulk_oauth/modules/Dataloader_Bulk_oauth/modules/sf_com_apps__Dataloader_Bulk_oauth

*.schema
